<html>
<head></head>
<body>
<a href="{{ path('app_home') }}">home page</a>
<a href="{{ path('app_contact') }}">contact us</a>
<h1>the author Name: {{ authorName }}</h1>
<h1>the author Mail: {{ authorEmail}}</h1>
</body>
</html>